<ul class="nav">
  <li class="left align-right">
    {% if page.prev_section != null %}
      <a href="/docs/{{ page.prev_section }}/" class="prev buttons page-left">
        Back
      </a>
    {% else %}
      <span class="prev disabled">Back</span>
    {% endif %}
  </li>
  <li class="right align-left">
    {% if page.next_section != null %}
      <a href="/docs/{{ page.next_section }}/" class="next buttons page-right">
        Next
      </a>
    {% else %}
      <span class="next disabled">Next</span>
    {% endif %}
  </li>
</ul>

