@import url(https://fonts.googleapis.com/css?family=Arvo:400,700,400italic);
/* Colors */
/* MeyerWeb Reset */
/* line 19, ../sass/styles.sass */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

/* Base text styles */
/* line 37, ../sass/styles.sass */
body {
  padding: 10px 50px 0 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #232323;
  background-color: #fbfaf7;
  margin: 0;
  line-height: 1.8em;
  -webkit-font-smoothing: antialiased;
}

/* line 57, ../sass/styles.sass */
h1, h2, h3, h4, h5, h6 {
  color: #232323;
  margin: 36px 0 10px;
}

/* line 65, ../sass/styles.sass */
p, ul, ol, table, dl {
  margin: 0 0 22px;
}

/* line 71, ../sass/styles.sass */
h1, h2, h3 {
  font-family: Arvo, Monaco, serif;
  line-height: 1.3;
  font-weight: normal;
}

/* line 81, ../sass/styles.sass */
h1, h2, h3 {
  display: block;
  border-bottom: 1px solid #cccccc;
  padding-bottom: 5px;
}

/* line 91, ../sass/styles.sass */
h1 {
  font-size: 30px;
}

/* line 97, ../sass/styles.sass */
h2 {
  font-size: 24px;
}

/* line 103, ../sass/styles.sass */
h3 {
  font-size: 18px;
}

/* line 109, ../sass/styles.sass */
h4, h5, h6 {
  font-family: Arvo, Monaco, serif;
  font-weight: 700;
}

/* line 117, ../sass/styles.sass */
a {
  color: #cc0000;
  font-weight: 200;
  text-decoration: none;
}
/* line 125, ../sass/styles.sass */
a:hover {
  text-decoration: underline;
}
/* line 129, ../sass/styles.sass */
a small {
  font-size: 12px;
}

/* line 135, ../sass/styles.sass */
em {
  font-style: italic;
}

/* line 141, ../sass/styles.sass */
strong {
  font-weight: 700;
}

/* line 147, ../sass/styles.sass */
ul li {
  list-style: inside;
  padding-left: 25px;
}

/* line 155, ../sass/styles.sass */
ol li {
  list-style: decimal inside;
  padding-left: 20px;
}

/* line 163, ../sass/styles.sass */
blockquote {
  margin: 0;
  padding: 0 0 0 20px;
  font-style: italic;
}

/* line 173, ../sass/styles.sass */
dl, dt, dd {
  font-color: #444444;
}

/* line 181, ../sass/styles.sass */
dl p {
  font-color: #444444;
}
/* line 185, ../sass/styles.sass */
dl dt {
  font-weight: bold;
}
/* line 189, ../sass/styles.sass */
dl dd, dl p {
  padding-left: 20px;
  font-style: italic;
}

/* line 197, ../sass/styles.sass */
hr {
  border: 0;
  background: #cccccc;
  height: 1px;
  margin: 0 0 24px;
}

/* Images */
/* line 213, ../sass/styles.sass */
img {
  position: relative;
  margin: 0 auto;
  max-width: 650px;
  padding: 5px;
  margin: 10px 0 32px 0;
  border: 1px solid #cccccc;
}

/* Code blocks */
/* line 233, ../sass/styles.sass */
code {
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  color: black;
  font-size: 14px;
}

/* line 243, ../sass/styles.sass */
pre {
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  color: black;
  font-size: 14px;
  padding: 4px 12px;
  background: #fdfefb;
  border-radius: 4px;
  border: 1px solid #d7d8c8;
  overflow: auto;
  overflow-y: hidden;
  margin-bottom: 32px;
}

/* Tables */
/* line 271, ../sass/styles.sass */
table {
  width: 100%;
  border: 1px solid #cccccc;
  margin-bottom: 32px;
  text-align: left;
}

/* line 283, ../sass/styles.sass */
th {
  font-family: "Arvo", Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: normal;
  padding: 10px;
  background: #232323;
  color: #fdfefb;
}

/* line 299, ../sass/styles.sass */
td {
  padding: 10px;
  background: #cccccc;
}

/* Wrapper */
/* line 311, ../sass/styles.sass */
.wrapper {
  width: 960px;
}

/* Header */
/* line 321, ../sass/styles.sass */
header {
  position: fixed;
  width: 245px;
  float: left;
  top: 0px;
  padding-bottom: 190px;
  background: url(../images/bg_top.png) no-repeat center top, url(../images/bg_bottom.png) no-repeat center bottom;
}
/* line 337, ../sass/styles.sass */
header div {
  width: 170px;
  padding: 34px 25px 22px 50px;
  background-color: #171717;
  color: #fdfdfb;
  border: 1px solid black;
  -webkit-border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  margin: 30px 25px 0 0;
  -webkit-font-smoothing: antialiased;
}

/* line 367, ../sass/styles.sass */
p.header {
  font-size: 16px;
}

/* line 373, ../sass/styles.sass */
h1.header {
  font-family: Arvo, sans-serif;
  font-size: 30px;
  font-weight: 300;
  line-height: 1.3em;
  border-bottom: none;
  margin-top: 0;
  color: white;
}
/* line 389, ../sass/styles.sass */
h1.header a {
  color: #cc0000;
}

/* line 395, ../sass/styles.sass */
a.header, a.name {
  color: white;
}

/* line 401, ../sass/styles.sass */
header a {
  color: white;
}

/* line 409, ../sass/styles.sass */
a.header {
  text-decoration: underline;
}
/* line 413, ../sass/styles.sass */
a.name {
  white-space: nowrap;
}
/* line 417, ../sass/styles.sass */
a.name img {
  border: none;
  margin: 0;
}

/* line 427, ../sass/styles.sass */
header ul {
  list-style: none;
  padding: 0;
}
/* line 433, ../sass/styles.sass */
header ul.languages {
  display: none;
  list-style: none;
}
/* line 438, ../sass/styles.sass */
header ul.languages li {
  list-style-type: none;
  display: inline;
}
/* line 446, ../sass/styles.sass */
header ul.languages a {
  color: #cc0000;
}
/* line 450, ../sass/styles.sass */
header ul.nav li {
  list-style-type: none;
  width: 132px;
  height: 15px;
  margin-bottom: 12px;
  line-height: 1em;
  padding: 6px 6px 6px 7px;
  background: #af0011;
  background: -moz-linear-gradient(top, #cc0000 0%, #820011 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f8f8f8), color-stop(100%, #dddddd));
  background: -webkit-linear-gradient(top, #cc0000 0%, #820011 100%);
  background: -o-linear-gradient(top, #cc0000 0%, #820011 100%);
  background: -ms-linear-gradient(top, #cc0000 0%, #820011 100%);
  background: linear-gradient(top, #cc0000 0%, #820011 100%);
  border-radius: 4px;
  border: 1px solid #0d0d0d;
  -webkit-box-shadow: inset 0px 1px 1px 0 #e90226;
  box-shadow: inset 0px 1px 1px 0 #e90226;
}
/* line 486, ../sass/styles.sass */
header ul.nav li:hover {
  background: #c3001d;
  background: -moz-linear-gradient(top, #c3001d 0%, #950119 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f8f8f8), color-stop(100%, #dddddd));
  background: -webkit-linear-gradient(top, #c3001d 0%, #950119 100%);
  background: -o-linear-gradient(top, #c3001d 0%, #950119 100%);
  background: -ms-linear-gradient(top, #c3001d 0%, #950119 100%);
  background: linear-gradient(top, #c3001d 0%, #950119 100%);
}

/* line 506, ../sass/styles.sass */
a.buttons {
  -webkit-font-smoothing: antialiased;
  background: url(../images/arrow-down.png) no-repeat;
  font-weight: normal;
  text-shadow: rgba(0, 0, 0, 0.4) 0 -1px 0;
  padding: 2px 2px 2px 22px;
  height: 30px;
}
/* line 520, ../sass/styles.sass */
a.page {
  background: url(../images/arrow-right.png) no-repeat center left;
}
/* line 524, ../sass/styles.sass */
a.github {
  background: url(../images/octocat-small.png) no-repeat 1px;
}
/* line 528, ../sass/styles.sass */
a.buttons:hover {
  color: white;
  text-decoration: none;
}

/* Section - for main page content */
/* line 540, ../sass/styles.sass */
section {
  width: 650px;
  float: right;
  padding-bottom: 50px;
}

/* Footer */
/* line 554, ../sass/styles.sass */
footer {
  width: 170px;
  float: left;
  position: fixed;
  padding-left: 50px;
  display: none;
}

@media print, screen and (max-width: 960px) {
  /* line 570, ../sass/styles.sass */
  div.wrapper {
    width: auto;
    margin: 0;
  }

  /* line 576, ../sass/styles.sass */
  header, section {
    float: none;
    position: static;
    width: auto;
  }

  /* line 584, ../sass/styles.sass */
  footer {
    float: none;
    position: static;
    width: auto;
    border-top: 1px solid #cccccc;
    margin: 0 84px 0 50px;
    padding: 0;
  }

  /* line 598, ../sass/styles.sass */
  header {
    padding-right: 320px;
  }

  /* line 602, ../sass/styles.sass */
  section {
    padding: 20px 84px 20px 50px;
    margin: 0 0 20px;
  }

  /* line 610, ../sass/styles.sass */
  header a small {
    display: inline;
  }
  /* line 614, ../sass/styles.sass */
  header ul {
    position: absolute;
    right: 130px;
    top: 84px;
  }
}
@media print, screen and (max-width: 720px) {
  /* line 626, ../sass/styles.sass */
  body {
    word-wrap: break-word;
  }

  /* line 630, ../sass/styles.sass */
  header {
    padding: 10px 20px 0;
    margin-right: 0;
  }

  /* line 636, ../sass/styles.sass */
  section {
    padding: 10px 0 10px 20px;
    margin: 0 0 30px;
  }

  /* line 642, ../sass/styles.sass */
  footer {
    margin: 0 0 0 30px;
  }

  /* line 648, ../sass/styles.sass */
  header ul, header p.view {
    position: static;
  }
}
@media print, screen and (max-width: 480px) {
  /* line 656, ../sass/styles.sass */
  header li.download {
    display: none;
  }

  /* line 660, ../sass/styles.sass */
  footer {
    margin: 0 0 0 20px;
  }
  /* line 664, ../sass/styles.sass */
  footer a {
    display: block;
  }
}
@media print {
  /* line 672, ../sass/styles.sass */
  body {
    padding: 0.4in;
    font-size: 12pt;
    color: #444444;
  }
}
