<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>CTDP IFM 2009 Template - {{page.title}}</title>

    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/pygment_trac.css">
    <script src="javascripts/scale.fix.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header><div class="inside">
        <h1 class="header"><a href="index.html">IFM 2009 Template</a></h1>
        <p class="header">International Formula Master</p>

        <ul class="nav">
          <li class="paint"><a class="buttons page" href="paint.html">Paint</a></li>
          <li class="preview"><a class="buttons page" href="preview.html">Preview</a></li>
          <li class="install"><a class="buttons page" href="export.html">Export</a></li>          
          <li class="credits"><a class="buttons page" href="credits.html">Credits</a></li>
       </ul>
       <ul class="languages">
          <li class="language"><a href="index.html">English</a></li>
          <li class="language"><a href="de/index.html">Deutsch</a></li>
          <li class="language"><a href="fr/index.html">Français</a></li> 
      </ul>

        <p class="header"><a class="header name" href="https://ctdp.net/"><img src="images/ctdp_logo.png" /></a>

        </div>
      </header>
      <section>
        {{ content }}
      </section>
      <footer>
        <p><small>Based on the <a href="https://github.com/broccolini/dinky">Dinky theme</a></small></p>
      </footer>
    </div>
    <!--[if !IE]><script>fixScale(document);</script><!--<![endif]-->
		
  </body>
</html>
